body {
    box-sizing: border-box;
    margin: 15px;

}

/* About Page */

.about-content {
    margin: 10px;
    padding: 15px;
    text-align: center;

}

/* Login and Sign-up Page */

.login-container {
        width:400px;
        max-width:100%;
        text-align: center;
    }

.login-container .btn-login{
        background-color:#bb6f43;
        color:#fff;
    }
a{
        color:rgb(255, 164, 17);
    }
.row {
    padding: 5px;
}

/* Product Page */
.product-nav {
    margin: 5px;
    display: flex;
    justify-content: end;
}

.product-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #974603b9;
}

.sort-btn {
    margin: 2px;
    display: flex;
    justify-content: flex-end;
}

/* Image Hover */

/* [1] The container */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

/* Profile */

.profile-container {
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* cart page */

.ïtem-container {
    margin: 10px;

}

.cart-msg {
    text-align: center;
}

/* Index / Homepage */

.home-container {
    margin: 20px;
}