body {
    box-sizing: border-box;
    margin: 15px;

}

/* About Page */

.about-content {
    margin: 10px;
    padding: 15px;
    text-align: center;

}

/* Login and Sign-up Page */

.login-container {
        width:400px;
        max-width:100%;
        text-align: center;
    }

.login-container .btn-login{
        background-color:#bb6f43;
        color:#fff;
    }
a{
        color:rgb(255, 164, 17);
    }
.row {
    padding: 5px;
}

/* Product Page */
.product-nav {
    margin: 5px;
    display: flex;
    justify-content: end;
}

.product-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #974603b9;
}

.btn {
    margin: 2px;
}

/* Image Hover */
.header {
    text-align: center;
    position: relative;
    background: #ccc;
    padding: 10px;
}
    
.profile-img-wrapper {
      position: relative;
      width: 302px;
      height: 302px;
      cursor: zoom-in;
}


img :hover {
      background: red;
      position: relative;
      top: 0%;
      left: 100%;
      display: none;
      padding: 10px;
      border: 1px solid #ccc;
      box-shadow: 0 0 6px 5px rgba(0,0,0,0.25);
      height: auto;
      object-fit: cover;
      display: block;
      max-width: 300px;
      height: auto;
      object-fit: cover;
      display: block;
}

/* Profile */

.profile-container {
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* cart page */

.ïtem-container {
    margin: 10px;

}

.cart-msg {
    text-align: center;
}

/* Index / Homepage */

.home-container {
    margin: 20px;
}